blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

body, button, input, select, textarea {
  font-family: sans-serif
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%
}

address, cite, dfn, em, var {
  font-style: normal
}

code, kbd, pre, samp {
  font-family: courier new, courier, monospace
}

small {
  font-size: 12px /* px */
}

ol, ul {
  list-style: none
}

a {
  text-decoration: none
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

legend {
  color: #000
}

fieldset, img {
  border: 0
}

button, input, select, textarea {
  font-size: 100%;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}
